{% autoescape off %}
Hello,


We received a request to reset the password for your account for this email address.

In case you forgot, your username is {{ user.get_username }}

To initiate the password reset process for your account, click the link below.

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

This link can only be used once. If you need to reset your password again, please visit {{ protocol }}://{{domain}}/accounts/password_reset and request another reset.

If you did not make this request, you can simply ignore this email.


Sincerely,
KN IS Team

{% endautoescape %}

{% comment %} {% autoescape off %}
To initiate the password reset process for your {{ user.get_username }} TestSite Account,
click the link below:

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

Sincerely,
The TestSite Team
{% endautoescape %} {% endcomment %}