
<!DOCTYPE html>
{% load static %}


{% load is_group %}

	<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
        <div class="sidebar-brand-icon">
          <img alt="Logo" src="{% static 'dnc_teacher_directory/assets/media/base/dnc.jpg' %}"style="width:31.8px;height:32px;" />
        </div>
        <div class="sidebar-brand-text mx-3">Digital & Code</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Functions
      </div>

    {% comment %} 
    for groupings
    {% if user|is_group:"(group name)" %} 
    {% endcomment %}
    <!-- Nav Item - Pages Collapse Menu --><!-- Nav Item - Pages Collapse Menu -->
      <li class="{% if 'teacher_directory' in request.path %}nav-item active {% else %}nav-item  {%endif %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-address-book"></i>
          <span>Directory</span>
        </a>
        <div id="collapseTwo" class="{% if 'teacher_directory' in request.path  %}collapse show {% else %}collapse  {%endif %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Functions:</h6>
            <a class="{% if 'teacher_subject_list' in request.path %}collapse-item active{% else %}collapse-item{% endif %}" href="{% url 'teacher_directory:teacher_subject_list' %}"><i class=""></i>Teacher Subject List</a>
            <a class="{% if 'input' in request.path %}collapse-item active{% else %}collapse-item{% endif %}" href="{% url 'teacher_directory:input_data_view' %}"><i class=""></i>Input Data</a>
          </div>
        </div>
      </li>
      
    {% comment %} {% endif %} {% endcomment %}

      <!-- Divider -->
      <hr class="sidebar-divider">

      

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>